<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="FICODES" name="chat-operator" version="0.1.0">

    <details>
        <title>Chat Operator for Bootcamp</title>
        <homepage>https://github.com/fdelavega/bootcamp.materials</homepage>
        <authors>FICODES &lt;contact@ficodes.com&gt;</authors>
        <email>contact@ficodes.com</email>
        <image></image>
        <smartphoneimage></smartphoneimage>
        <description>Chat Operator for Bootcamp</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker>https://github.com/fdelavega/bootcamp.materials/issues</issuetracker>
    </details>

    <requirements>
        <!-- Add any extra requirements here -->
        <!-- <feature name="${feature-name}" /> -->
    </requirements>

    <preferences>
    </preferences>

    <wiring>
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
